/*Set the color of the popover that comes when you hover on the stars */
.rate-popover {
  color: #c4c4c4;
}

/*Set the color of each star. The color changes depending on the number of stars colored */
.oneStar {
  color: #3d381c !important;
}

.twoStars {
  color: #6d6126!important;
}

.threeStars {

  color: #c2aa36!important;
}

.fourStars {
  color: #e2c327!important;
}

.fiveStars {
  color: #f3cb06!important;
}

/*Add top margin, only for select elements */
.mtop {
  margin-top: 40px;
}
/*Adjust padding to align contents */
.padjust {
  padding-left: 20px !important;
}
.madjust {
  padding-top: 20px !important;
}

/*For buttons ONLY */
.bpadjust {
  margin-left: 20px !important;
}
/*If the description/author of the books are too long, then cut off the rest and add three dots (known as an ellipsis) */
.pdesc {
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.newbookpage {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 110px !important;
}

/*Set a container for all of the images */
.imgcontainer {
  /*Set the width and height */
  width: 300px;
  height: 250px;
  /*Make sure the image stays within container */
  overflow: hidden;
  /*Make sure image doesn't stick to the top/side of the card*/
  padding-top: 20px !important;
  padding-left: 20px !important;
}

/*This is the CSS class used to make sure that the image stays on the left of the text on the individual page*/
.float-left {
  float: left;
  margin-right: 40px !important;
}

/*Add some padding to the new book form so that it doesnt stick to the border of the sreen*/
.fieldset {
  padding: 30px !important;
}

.body {
  background: #2b2e32 !important; color: white;
} /* This is to adjust the color scheme */

/*Adjusting the navbar's colors*/
.navbar {
  background: #343a40 !important; color: white;
}

/*Adjusting the card's colors*/
.card {
  background: #343a40 !important; color: white;
}

/*Adjusting the input's colors*/
.inputadd {
  background: #343a40 !important; color: white !important;
}

/*Adjusting the label's colors*/
.labelnew {
  color: white !important;
}

/*Adjusting the form title's colors*/
.legend {
  color: white !important;
}

/*Adjusting the card's colors*/
.card-title {
  color: white !important;
}

/*Adjusting the card's colors*/
.card-text {
  color: white !important;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  list-style: none;
}

.collapsible {
  color: white;
  cursor: pointer;
  /* padding: 5px; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  margin-left: 1200px !important;
}

.footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
}
