
    .rate-popover {
      color: #c4c4c4;
    }

    .oneStar {
      color: #3d381c !important;
    }

    .twoStars {
      color: #6d6126!important;
    }

    .threeStars {

      color: #c2aa36!important;
    }

    .fourStars {
      color: #e2c327!important;
    }

    .fiveStars {
      color: #f3cb06!important;
    }

  .mtop {
    margin-top: 40px;
  }
  .padjust {
    padding-top: 20px !important;
    padding-left: 20px !important;
  }

  .bpadjust {
    margin-left: 20px !important;
  }
  .pdesc {
     width: 300px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;