#author, #grade, #title, #genre-cat, #genre-fic, #genre-nonfic, .searchbar, .navbar, .card, .collapsible, .nav-link, .jumbotron, .inputadd, .labelnew, .legend, .card-title, .card-text, .modal-content {
	color: white !important;
}

/*Set the color of the popover that comes when you hover on the stars */
.rate-popover {
  color: #c4c4c4;
}

/*Set the color of each star. The color changes depending on the number of stars colored */
.oneStar {
  color: #3d381c !important;
}

.twoStars {
  color: #6d6126!important;
}

.threeStars {

  color: #c2aa36!important;
}

.fourStars {
  color: #e2c327!important;
}

.fiveStars {
  color: #f3cb06!important;
}

/*Add top margin, only for select elements */
.mtop {
  margin-top: 40px;
}
/*Adjust padding to align contents */
.padjust {
  padding-left: 20px !important;
}
.madjust {
  padding-top: 20px !important;
}

/*For buttons ONLY */
.bpadjust {
  margin-left: 20px !important;
}
/*If the description/author of the books are too long, then cut off the rest and add three dots (known as an ellipsis) */
.pdesc {
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

/*If the description/author of the books are too long, then cut off the rest and add three dots (known as an ellipsis) */
.title {
   width: 300px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

/*Set a container for all of the images */
.imgcontainer {
  /*Set the width and height */
  width: 300px;
  height: 250px;
  /*Make sure the image stays within container */
  overflow: hidden;
  /*Make sure image doesn't stick to the top/side of the card*/
  padding-top: 20px !important;
  padding-left: 20px !important;
}

/*This is the CSS class used to make sure that the image stays on the left of the text on the individual page*/
.float-left {
  float: left;
  margin-right: 40px !important;
}

/*Add some padding to the new book form so that it doesnt stick to the border of the sreen*/
.fieldset {
  padding: 30px !important;
}

/*Make sure footer stays at bottom and is full width */
.footer, footer, footer > form {
	position: fixed;
	height: 60px;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-left: 0px !important;
	margin-left: 0px !important;
}

/* This is to adjust the page's color scheme and padding/margin */
body {
  background-image: url('http://localhost:5000/static/images/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 110px !important;
  margin-bottom: 70px;
  color: black !important;
}

/*Adjusting the colors for the navbar, card, and inputs*/
.navbar, .card, .inputadd {
  background: #343a40 !important;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  list-style: none;
}

.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  overflow: hidden;
}

/* Make sure the card is full width to prevent it from squishing */
.col-md-4 {
  max-width: 100%;
}

/* Adjust color scheme */
.jumbotron {
  margin-bottom: 0rem !important;
  background: #343a40 !important;
}

/* Set star colors to gold */
.fa-star, .fa-star-half-alt, .fas {
	color: gold !important;
}

img {
	max-width:100%;
	max-height: 100%;
}

/*Make sure reviews aren't sticking to the edges of the box */
.review-text {
	margin-left: 35px;
}

.revcontainer {
	align-items: left;
}

/*Make searhbar prettier */
.searchbar {
	border: none;
}

.breadcrumb-item, .bookcount {
	margin: none;
	padding: none;
}

.homepage-card {
	min-height: 500px;
	box-shadow: 20px 20px #303539;
}

/*Add spacing between filter dropdowns */
.filter {
	margin-right: 5px;
}
