<!--For web.py, these are the parameters passed to this file-->
<!DOCTYPE html>
<html class="has-sticky-footer">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Tab title-->
		<title>Collabread: About Us</title>
		<!--CSS style sheet imports-->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/blitzer/jquery-ui.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="static/css/rating.min.css" rel="stylesheet" type="text/css">
		<link href="static/css/star-rating.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<!--Import all of the JS Scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="static/js/rating.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
		<script src="static/js/my_script.js"></script>
	</head>

	<body class="body" style="padding-top: 110px; margin-bottom: 80px;" onload="Fonky()">


		<!-- Set the navigation bar on top -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/">Collabread</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
				<ul class="navbar-nav mr-auto">
		      <li class="nav-item active"> </li>
		      <li class="nav-item"> </li>
		      <li class="nav-item"> </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					<a class="nav-link" href="/new">Add book</a>
		    </form>
		  </div>
		</nav>

		<!--set the banner displayed on the homepage-->
		<div class="jumbotron jumbotron-fluid" style="background: #343a40 !important; color: white;">
		  <div class="container">
		    <h1 class="display-4">About Me</h1> <!--The title of the banner-->
		    <p class="lead">Hi!<br>I'm Shuchir Jain, creator of Collabread! I am a middle schooler at Marshall Middle School, and I enjoy coding. I made this as my Computer Fair Project, but it has potential to be a real product used in schools. Collabread helps students find fun and interesting books easily.</p> <!--Content of banner-->
		  </div>
		</div>
		<footer class="footer mt-auto py-3 bg-dark">
			<form class="form-inline my-2 my-lg-0 text-muted">
				<a class="nav-link" href="/about">About Us</a>
				<a class="nav-link" href="/contact">Contact Us</a>
				<a class="nav-link" href="/">&copy; Shuchir Jain, 2021</a>
			</form>
		</footer>
	</body>
</html>
