$def with (book, bookId, bookTitle, bookDesc, bookAuthor, bookGrade, reviews, avg)

<!DOCTYPE html>
<html>
<body style="padding-top: 110px">
	<link href="static/css/rating.min.css" rel="stylesheet" type="text/css"> 
<link href="static/css/star-rating.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap-4.4.1.js"></script>
<script src="static/js/rating.js"></script>
<script src="static/js/mdb.js"></script>
<script src="static/js/my_script.js"></script>
<style type="text/css">
   body { background: #2b2e32 !important; color: white;} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */ 
   .navbar { background: #343a40 !important; color: white;} 
   .card { background: #343a40 !important; color: white;} 
   .card-title {
   	color: white !important;
   }
   .card-text {
   	color: white !important;
   }
</style>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>More About $bookTitle</title>
<link href="./static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>
<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="./index">
    <img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Collaboread
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

 <a class="nav-link" href="new">Add your own book<span class="sr-only">(current)</span></a> 
      
  </div>
</nav>



	<div class="d-flex justify-content-center">
		<div class="card col-md-12"> 
		  <div class="card-body">
		    <h5 class="card-title">$bookTitle</h5>
		    <h6 class="card-text">$bookAuthor</h6>
		    <br>
		    <span class="stars" data-rating="$avg" data-num-stars="5" ></span>
		    <br>
		    <p class="card-text">$bookDesc</p>

		    <p class="card-text">Grades $bookGrade and higher</p>
		    <br>
		    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Add a review
</button>
		    <!--<a href="#" class="btn btn-primary">Go somewhere</a>--> 
			</div>
		</div>
	</div>

<!-- Button trigger modal -->





<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark" style="color: white !important;">
    	<fieldset>
		    <form method="post" action="review" name="addform">

		    	<input type="hidden" name="bookId" value="$bookId">
		    	<input type="hidden" id=
		    	"rate" name="stars" value="0">

		    	<br>
		    	<legend>Review this Book:</legend>
		    <div class="form-group">
		    	<div class="container">
  <span id="rateMe2"  class="empty-stars"></span>
</div>
				    <input class="form-control" type="text" name="name" placeholder="Your name (Optional)">
				    <textarea class="form-control" id="reviewdesc" name="review" placeholder="Enter your description here."></textarea>
				    <input type="hidden" name="bookId" value="$bookId">
				    
				   </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" value="review" onclick="myFunc()" class="btn btn-primary">Submit</button>
      </div>
		</form>
	</fieldset>
    </div>
  </div>
</div>


<br>

<h4 class="card-title" style="margin-left: 35px;">Reviews -</h4>
<br>

<div class="container" name="revcontainer" style="align-items: left">
	$for review in reviews:
		$ name = review['name']
		$if name == "":
			$ name = "Anonymous"
		<div class="card col-md-12"> 
			<!-- <div id="fixture"></div> -->
  			<div class="card-body">
  				<span class="stars" data-rating="$review.rating" data-num-stars="5" ></span>
  				<h6 class="card-body">$review['description']</h6>
  				<p class="card-text"><em>- $name</em></p>
			</div>
		</div>
</div>

</body>
</html>