$def with (book, bookId, bookTitle, bookDesc, bookAuthor, bookGrade, reviews)

<!DOCTYPE html>
<html>
<body style="padding-top: 110px">
<style>
	* {
		align-items: center;
	}
</style>
<style type="text/css">
   body { background: #2b2e32 !important; color: white;} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */ 
   .navbar { background: #343a40 !important; color: white;} 
   .card { background: #343a40 !important; color: white;} 
   .card-title {
   	color: white !important;
   }
   .card-text {
   	color: white !important;
   }
</style>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>More About $bookTitle</title>
<link href="static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>
<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Collaboread
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

 <a class="nav-link" href="index">Go home<span class="sr-only">(current)</span></a> 
      
  </div>
</nav>

	<div class="d-flex justify-content-center">
		<div class="card col-md-12"> 
		  <div class="card-body">
		    <h5 class="card-title">$bookTitle</h5>
		    <h6 class="card-text">$bookAuthor</h6>
		    <br>
		    <p class="card-text">$bookDesc</p>

		    <p class="card-footer">Grades $bookGrade and higher</p>
		    <!--<a href="#" class="btn btn-primary">Go somewhere</a>--> 
			</div>
		</div>
	</div>

<div class="d-flex justify-content-center">
	<div class="card col-md-12"> 
		  <div class="card-body">
		  	<fieldset>
		    <form method="post" action="review">
		    	<legend>Review this Book:</legend>
		    <div class="form-group">
				    <label for="reviewdesc">Review here:</label>
				    <textarea class="form-control" id="reviewdesc" name="review" required>Enter your description here.</textarea>
				    <input type="hidden" name="bookId" value="$bookId">
				    <input type="email" name="email" placeholder="Your email (Optional)">
				    <input type="text" name="name" placeholder="Your name (Optional)">
				   </div>
				   <button type="submit" value="review" class="btn btn-primary">Submit</button>

		</form>
	</fieldset>
			</div>
		</div>
	</div>

	$for review in reviews:
		$if review.id == bookId:
			<div class="d-flex justify-content-center">
				<div class="card col-md-12"> 
		  			<div class="card-body">
		  				<h5 class="card-title">$review.description</h5>
		  				<p class="card-footer">By $name , $email</p>
					</div>
				</div>
			</div>
</body>
</html>