$def with (books, reviews, db)
<body style="padding-top: 110px">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Catalog</title>
<link href="static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css"> 
<link href="static/css/rating.min.css" rel="stylesheet" type="text/css"> 
<link href="static/css/star-rating.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<style type="text/css">
   body { background: #2b2e32 !important; color: white;} /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
   .jumbotron { background: #343a40 !important; color: white;} 
   .navbar { background: #343a40 !important; color: white;} 
</style>

<!-- <style type="text/css">
	.mtop {
		margin-top: 40px;
	}
	.padjust {
		padding-top: 20px !important;
		padding-left: 20px !important;
	}
	.bpadjust {
		margin-left: 20px !important;
	}
	.pdesc {
     width: 300px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

</style>
 -->
<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap-4.4.1.js"></script>
<script src="static/js/rating.js"></script>
<script src="static/js/mdb.js"></script>
<script src="static/js/my_script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Welcome to Collaboread! Here, you can review books to help others choose a great book next time they can't find something interesting to read. You can choose an existing book, or you can add your own.</p>
  </div>
</div>


<!--
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/">
    <img src="static/images/logo.png" width="30" height="30" class="d-inline-block" alt="">
    Collaboread
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">


 <a class="nav-link" href="new">Add your own Book<span class="sr-only">(current)</span></a> 

  </div>
</nav>
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
		  <ul class="navbar-nav mr-auto">
	      <li class="nav-item active"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
			<li class="nav-item"> <a class="nav-link" href="new">Add your own book</a> </li>
        </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>
</nav>

<!-- <span id="rateMe">
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
  <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
</span>
 -->

 <div class="container">
	<div class="row">
			$for x in range(3):
				<div class="card-deck">
				$for book in books:
					$ avg = 0
					$ avg1 = 0
					$ avg2 = 0
					$ qr = db.query("SELECT * FROM books JOIN reviews ON books.id = reviews.book_id")
					$ results = [qr]
					$for i in qr:
						$if i['book_id'] == book.id and i['rating'] != None:
							$ avg1 = avg1 + i['rating']
							$ avg2 = avg2+1
					$if avg2 == 0:
						$ avg = 0
					$else:
						$ avg = avg1/avg2
					$ author = book.author
					$ title = book.book_title
					$ desc = book.book_description
					$ grade = book.grade
					$if desc == "" or desc == None:
						$ desc = "No description available."
					$if author == "" or author == None:
						$ author = "Unknown Author"
					<div class="col-md-4 col-sm-6 col-12">
						<div class="card bg-dark mtop" style="min-height: 500px; box-shadow: 20px 20px #303539">
							<form method="post" action='book_details'>
								<input type="hidden" name="bookId" value="$book.id">
								<input type="hidden" name="bookDesc" value="$book.book_description">
								<input type="hidden" name="bookTitle" value="$book.book_title">
								<input type="hidden" name="bookAuthor" value="$book.author">
								<input type="hidden" name="bookGrade" value="$book.grade">
								<div>
									<img src="$book.image" class="padjust madjust" alt="book cover" style="max-width: 250px; height: auto;">
								</div>
								 <h5 class="card-title padjust madjust">$title</h5>
								<p class="card-text padjust pdesc">$author</p>
								<p class="card-text madjust padjust pdesc">$desc</p>
								<span class="stars padjust madjust" data-rating="$avg" data-num-stars="5"></span>
								<br>
								<p class="card-text padjust madjust">Grades $grade and up</p>
								<button type="submit" class="btn btn-primary bpadjust">Read More</button> 
							</form>
						</div>
					</div>
				</div>
	</div>
</div>