<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Tab title-->
	<title>Catalog</title>
	<!--CSS style sheet imports-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/blitzer/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="static/css/rating.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/star-rating.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<!--Import all of the JS Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="static/js/rating.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
	<script src="static/js/my_script.js"></script>
	</head>

	<body class="body">


	<!-- Set the navigation bar on top -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<img src="static/images/brandlogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		<a class="navbar-brand" href="/">BookGuide</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent1">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"> </li>
				<li class="nav-item"> </li>
				<li class="nav-item"> </li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				<a class="nav-link" href="/new">Add book</a>
				<!-- Advanced Search icon and search bar -->
				<input id="searchbar" type="text" class="searchbar form-control bg-dark" onkeyup="search(document.getElementById('search_term').value, document.getElementById('searchbar').value.toUpperCase())" placeholder="Search...">
				<!-- Show a dropdown that will switch the search context -->
				<div class="content">
					<select class="custom-select" id="search_term">
						<option value="title" selected>What to search...</option>
						<option value="title">Book Titles</option>
						<option value="desc">Book Descriptions</option>
						<option value="author">Book Authors</option>
					</select>
				</div>
			</form>
		</div>

	</nav>

	<br>
	<br>
	<!--set the banner displayed on the homepage-->
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Hello!</h1> <!--The title of the banner-->
			<p class="lead">Welcome to BookGuide! Here, you can review books to help others choose a great book next time they can't find something interesting to read. You can choose an existing book, or you can add your own.</p> <!--Content of banner-->
		</div>
	</div>

	<!-- Set the filter bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/"></a>
		<form class="form-inline my-2 my-lg-0" method="get" action="/" id="filterform">
			<select class="custom-select filter" id="grade_search" name="grade" onchange="refilter()">
				<option value="">All Grades...</option>
				<option value="1">Grades 1</option>
				<option value="2">Grades 2</option>
				<option value="3">Grades 3</option>
				<option value="4">Grades 4</option>
				<option value="5">Grades 5</option>
				<option value="6">Grades 6</option>
				<option value="7">Grades 7</option>
				<option value="8">Grades 8</option>
				<option value="9">Grades 9</option>
				<option value="10">Grades 10</option>
				<option value="11">Grades 11</option>
				<option value="12">Grades 12</option>
			</select>
			<select class="custom-select filter" id="genre_search" name="genre" onchange="refilter()">
				<option value="">All Genres...</option>
				{% for genre in genre2 %}
					<option value="{{ genre[1] }}" name="genre[0]">{{ genre[1] }}</option>
				{% endfor %}
			</select>
			<select class="custom-select filter" id="ficsearch" name="ficsearch" onchange="refilter()">
				<option value="">Fiction or Nonfiction...</option>
				<option value="fiction">Fiction</option>
				<option value="nonfiction">Nonfiction</option>
			</select>
			<select class="custom-select filter" id="starsearch" name="star" onchange="refilter()">
				<option value="">All Star Ratings...</option>
				<option value="1">Rated 1 Star and higher</option>
				<option value="2">Rated 2 Stars and higher</option>
				<option value="3">Rated 3 Stars and higher</option>
				<option value="4">Rated 4 Stars and higher</option>
				<option value="5">Rated 5 Stars and higher</option>
			</select>
			<select class="custom-select filter" id="sort" name="sort" onchange="refilter()">
				<option value="new">Sort Options...</option>
				<option value="new">Newest to Oldest</option>
				<option value="old">Oldest to Newest</option>
				<option value="abc">Sorted Alphabetically</option>
			</select>
			<button id="filtertext" type="submit" class="btn btn-link nav-link">{{ filtertext }}</button>
		</form>
	</nav>
	<!-- Show the filter breadcrumb as well as the found books count -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-dark">
			<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li>
		</ol>
		<h5 aria-current="page" class="bookcount" id="bookcount">{{ bookcount }}</h5>
	</nav>

	<br>
	<!-- A container for all of the cards -->
	<ul class="container" id="container">
		<div class="row">
			<div class="card-deck"> <!--Organize each row into a card group, or a card deck-->
				{% for book in books %}

					{% set  author = book[4] %}
					{% set  title = book[1] %}
					{% set  desc = book[2] %}
					{% set  grade = book[5] %}
					{% set genre = genres[book[0]][0] %}

					{% if desc == "" or desc == None %}
					{% set  desc = "No description available." %}
					{% endif %}
					{% if author == "" or author == None %}
					{% set  author = "Unknown Author" %}
					{% endif %}
					<div class="col-md-4">
						<div class="card homepage-card bg-dark mtop">
							<form method="get" action='book_details/{{ book[0] }}'>
								<!--hidden inputs, used for passing on data. User cannot see these-->
								<div class="imgcontainer">
									<!--Show the image-->
									<img src="{{ book[3] }}" alt="book cover">
								</div>
								<!-- Show book details -->
								<h5 class="card-title padjust madjust title">{{ title }}</h5>
								<p class="card-text padjust pdesc author">{{ author }}</p>
								<p class="card-text madjust padjust pdesc desc">{{ desc }}</p>
								<span class="stars padjust madjust" data-rating="{{ avgrevs[book[0]][0] }}" data-num-stars="5"></span>
								<br>
								<p class="card-text padjust madjust">Grade Level: {{ grade }}</p>
								<p class="card-text padjust madjust genre">Genre - {{ genre }}</p>
								<button type="submit" class="btn btn-primary bpadjust">Read More</button>
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</ul>
	</body>
	<footer class="footer mt-auto py-3 bg-dark">
		<form class="form-inline my-2 my-lg-0 text-muted">
			<a class="nav-link" href="/about">About Me</a>
			<a class="nav-link" href="/contact">Contact Me</a>
			<a class="nav-link" href="/">&copy; Shuchir Jain, 2021</a>
		</form>
	</footer>
</html>
