<!--For web.py, these are the parameters passed to this file-->
<!DOCTYPE html>
<html>
	<head>
		<!-- Set metadata, like the initial scale -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Set tab title -->
		<title>New Book</title>

		<!--CSS style sheet imports-->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/blitzer/jquery-ui.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="static/css/rating.min.css" rel="stylesheet" type="text/css">
		<link href="static/css/star-rating.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<!--Import all of the JS Scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="static/js/rating.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
		<script src="static/js/my_script.js"></script>
	</head>


	<body class="body newbookpage" style="margin-bottom: 80px;">
		<!-- Set the navigation bar -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/">BookGuide</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent1">
					<ul class="navbar-nav mr-auto">
	      		<li class="nav-item active"> </li>
	      		<li class="nav-item"> </li>
	      		<li class="nav-item"> </li>
	    		</ul>
	    		<form class="form-inline my-2 my-lg-0">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a><a class="nav-link" href="/new">Add book</a>
	    		</form>
	  	</div>
		</nav>
		{% with messages = get_flashed_messages() %}
		   {% if messages %}
		      {% for message in messages %}
						 <div class="alert alert-danger" role="alert">
							 {{ message }}
						 </div>
		      {% endfor %}
		   {% endif %}
		{% endwith %}
		<!-- Add book form -->
		<fieldset class="field">
			<h5>Add a book</h5>
				<form method="post" enctype="multipart/form-data" action='add' id="newbook">
				  <div class="form-group">
				    <label for="title" style="color: black;">Book Name</label>
				    <input type="text" class="form-control inputadd" id="title" name="title" placeholder="Enter title" data-toggle="tooltip"data-placement="bottom"  style="color: white;" required>
				  	<div class="form-group">
				  		<br>
					    <label for="author" style="color: black;">Author</label>
					    <input type="text" class="form-control inputadd" id="author" name="author" style="color: white;" placeholder="Enter Author" >
					  </div>
					 </div>
					 <br>
					 <!-- Grades dropdown -->
					 <div class="form-group">
					    	<select class="custom-select bg-dark" id="grade" name="grade" style="color: white;" required>
						      <option value="">Select an appropriate grade level</option>
						      <option value="1">Grade 1 and up</option>
						      <option value="2">Grade 2 and up</option>
						      <option value="3">Grade 3 and up</option>
						      <option value="4">Grade 4 and up</option>
						      <option value="5">Grade 5 and up</option>
						      <option value="6">Grade 6 and up</option>
						      <option value="7">Grade 7 and up</option>
						      <option value="8">Grade 8 and up</option>
						      <option value="9">Grade 9 and up</option>
						      <option value="10">Grade 10 and up</option>
						      <option value="11">Grade 11 and up</option>
						      <option value="12">Grade 12 and up</option>
					    	</select>
					</div>
					<br>
					<div class="form-group">
							 <select class="custom-select bg-dark" id="genre-cat" name="genre-category" style="color: white;" onchange="genre()" required>
								 <option value="">Select an appropriate genre category</option>
								 <option value="fiction">Fiction</option>
								 <option value="nonfiction">Nonfiction</option>
							 </select>
				 </div>
					<br>
					<div class="form-group">
							 <select class="custom-select bg-dark" id="genre-fic" name="genre-subcategory-fic" style="color: white;">
								 <option value="">Select an appropriate genre</option>
								 {% for genre in fics %}
								 		<option value="{{ genre[0] }}">{{ genre[1] }}</option>
								 {% endfor %}
							 </select>
				 </div>
				 <div class="form-group">
							<select class="custom-select bg-dark" id="genre-nonfic" name="genre-subcategory-nonfic" style="color: white;">
								<option value="">Select an appropriate genre</option>
								{% for genre in nonfics %}
									 <option value="{{ genre[0] }}">{{ genre[1] }}</option>
								{% endfor %}
							</select>
				</div>
					<br>
					<script>
						var x = document.getElementById("genre-fic");
						var y = document.getElementById("genre-nonfic");
						x.style.display = "none";
						y.style.display = "none";
						function genre () {
							var x = document.getElementById("genre-cat");
							var y = document.getElementById("genre-fic");
							var z = document.getElementById("genre-nonfic");
							if (x.value === "fiction") {
								y.style.display = "block";
								z.style.display = "none";
							}
							else if (x.value === "nonfiction") {
								z.style.display = "block";
								y.style.display = "none";
							}
						}
					</script>

					<!-- Optional picture -->
					<div class="mb-3">
	  				<label for="formFile" class="form-label" style="color: black;">Add a picture of this book (Optional)</label>
	  				<input type="file" class="form-control inputadd" name="myfile" id="formFile">
					</div>
					<br>
				  <div class="custom-control custom-checkbox">
	  				<input type="checkbox" class="custom-control-input inputadd" id="customCheck1" name="revnext">
	  				<label class="custom-control-label" for="customCheck1" style="color: black;">I want to review this book next.</label>
					</div>
					<br>
					<br>
					<!-- Get only the book titles from the database -->

				 	<button class="inputadd btn btn-primary" type='submit' value='Add' class='btn btn-primary'>Add</button>
				</form>
			</fieldset>
			<footer class="footer mt-auto py-3 bg-dark">
				<form class="form-inline my-2 my-lg-0">
					<a class="nav-link" href="/about">About Us</a>
					<a class="nav-link" href="/contact">Contact Us</a>
					<a class="nav-link" href="/">&copy; Shuchir Jain, 2021</a>
				</form>
			</footer>
	</body>
</html>
